@include media-breakpoint-up(lg) {
  // large

  .calculator {
    label {
      font-size: 20px;
      display: inline-block;
    }
    input {
      margin-left: 50px;
    }
    h3 {
      font-size: 20px;
    }
    .select {
      width: 300px;
    }
  }

}
