$grey: #a0a0a0;
$blue: #2687FC; // rgba(38, 135, 252, 0.5)
$green: #00B868; // rgba(0, 184, 104, 0.5)
$yellow: #F5EB35; // rgba(245, 235, 53, 0.5)
$red: #E04F2E; // rgba(224, 79, 46, 0.5)
$purple: #d6abfc; // rgba(214, 171, 252 ,0.5)
$dark: #262624;
$lightgrey: #3C3C3B;
$newgrey: #696969;
