// xsmall

body {
  color: white;
  background-color: #4f4f4f;
}


svg {
  // border: 3px solid #eee;
  display: block;
  margin: 1em auto;
}

.dark {
  color: $dark;
}

.lightgrey {
  color: $lightgrey;
}

.h-filter {
  transition: 0.5;
}

.h-filter:hover {
  transition: 0.5;
  fill: white;
  cursor: pointer;
}

.h-filter.active {
  fill: white;
}










/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

/* GLOBAL > FONTS
//////////////////////////////////////*/

/* GLOBAL > TITLES
//////////////////////////////////////*/

/* GLOBAL > PARAGRAPH
//////////////////////////////////////*/

/* GLOBAL > COLORS
//////////////////////////////////////*/

/* GLOBAL > BUTTONS
//////////////////////////////////////*/



/* -----------------------------------*/
/* ---------->>> BLOCKS <<<-----------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* -------->>> COMPONENTS <<<---------*/
/* -----------------------------------*/

/* COMPONENTS > NAVBAR
//////////////////////////////////////*/

/* COMPONENTS > FOOTER
//////////////////////////////////////*/

/* COMPONENTS > CARDS
//////////////////////////////////////*/

/* COMPONENTS > FORMS
//////////////////////////////////////*/

/* COMPONENTS > CAROUSEL
//////////////////////////////////////*/

/* COMPONENTS > BOX
//////////////////////////////////////*/
