// xsmall

body {
  color: white;
  background-color: #4f4f4f;
}


svg {
  // border: 3px solid #eee;
  display: block;
  margin: 1em auto;
}










/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

/* GLOBAL > FONTS
//////////////////////////////////////*/

/* GLOBAL > TITLES
//////////////////////////////////////*/

/* GLOBAL > PARAGRAPH
//////////////////////////////////////*/

/* GLOBAL > COLORS
//////////////////////////////////////*/

/* GLOBAL > BUTTONS
//////////////////////////////////////*/



/* -----------------------------------*/
/* ---------->>> BLOCKS <<<-----------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* -------->>> COMPONENTS <<<---------*/
/* -----------------------------------*/

/* COMPONENTS > NAVBAR
//////////////////////////////////////*/

/* COMPONENTS > FOOTER
//////////////////////////////////////*/

/* COMPONENTS > CARDS
//////////////////////////////////////*/

/* COMPONENTS > FORMS
//////////////////////////////////////*/

/* COMPONENTS > CAROUSEL
//////////////////////////////////////*/

/* COMPONENTS > BOX
//////////////////////////////////////*/
