// xsmall

body {
  color: white;
  background-color: #262624;
  font-family: $font-primary !important;
  font-style: normal;
  font-weight: 500;
}

svg {
  // border: 3px solid #eee;
  display: block;
  margin: 1em auto;
}

h5 {
  font-size: 16px !important;
  font-weight: 600;
}

h5 {
  font-weight: 600;
}


.dark {
  color: $dark;
}

.lightgrey {
  color: $lightgrey;
}

.newgrey {
  color: $newgrey;
}

.white {
  color: white;
}

.h-filter {
  transition: 0.5;
}

.h-filter:hover {
  transition: 0.5;
  // fill: white;
  cursor: pointer;
  fill: rgba(255,255,255,0.5);
}

.h-filter.active {
  fill: white;
  &:hover {
    fill: rgba(255,255,255,0.5);
  }
}

.c-filter {
  position: relative;
  display: block;
  color: $newgrey;
  margin-left: 30px;
  cursor: pointer;
  font-family: $font-primary;
  font-size: 14px;
  &:hover {
    color: white;
    font-weight: bold;
  }
}

.c-filter input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.text-filter {
  font-size: 16px;
  color: $newgrey;
  margin-top: 20px;
}

/* checkbox */
.checkmark {
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: -30px;
  height: 20px;
  width: 20px;
  border: 1px solid $newgrey;
}

/* On mouse-over, add a grey background color */
// .c-filter:hover input ~ .checkmark {
//   &-green {
//     background-color: $green;
//     border: 1px solid transparent;
//   }
//   &-red {
//     background-color: $red;
//     border: 1px solid transparent;
//   }
//   &-yellow {
//     background-color: $yellow;
//     border: 1px solid transparent;
//   }
//   &-purple {
//     background-color: $purple;
//     border: 1px solid transparent;
//   }
//   &-blue {
//     background-color: $blue;
//     border: 1px solid transparent;
//   }
// }

/* When the checkbox is checked, add a blue background */
.c-filter input:checked ~ .checkmark {
  &-green {
    background-color: $green;
    border: 1px solid transparent;
  }
  &-red {
    background-color: $red;
    border: 1px solid transparent;
  }
  &-yellow {
    background-color: $yellow;
    border: 1px solid transparent;
  }
  &-purple {
    background-color: $purple;
    border: 1px solid transparent;
  }
  &-blue {
    background-color: $blue;
    border: 1px solid transparent;
  }
}


//////////////////////////////
// calculadora
//////////////////////////

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 35px;
  outline: none;
  background: rgb(214,171,252);
  background: linear-gradient(90deg, rgba(214,171,252,1) 0%, rgba(224,79,46,1) 100%);
  position: relative;
  border-radius: 40px;
}

.slider:hover {
  opacity: 1;
}

.calc {
  width: 0px;
  height: 35px;
  background-color: transparent;
  transition: 2s;
  position: relative;
}

.calculator {
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 16px;
    font-weight: 400;
  }
  label {
    font-size: 16px;
    display: block;
  }
  input {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 3px 20px;
    color: #fff;
    margin-left: 0px;
    text-align: right;
    width: 110px;
    margin-bottom: 25px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: transparent;
    background-image: none;
  }

  select::-ms-expand {
    display: none;
  }

  .select {
    position: relative;
    display: flex;
    background: transparent;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #fff;
    width: auto;
    margin-bottom: 25px;
  }
  select {
    flex: 1;
    padding: 3px 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    background-color: #262624;
    border-radius: 10px;
    border: 1px solid #fff;
    &:focus {
      outline: none;
    }
    option:hover {
      cursor: pointer;
    }
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    font-size: 14px;
    position: absolute;
    top: 3px;
    right: 0;
    padding: 0 1em;
    background: transparent;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }

  .select:hover::after {
    opacity: 0.5;
  }

  .btn {
    background-color: #fff;
    border-radius: 10px;
    padding: 3px 25px;
    font-size: 16px;
    font-weight: 600;
    &:hover {
      background-color: rgba(255,255,255,0.7);
    }
  }
  .calcular {
    color: #262624;
  }
  .center {
    text-align: center;
  }
  .border-legenda {
    // border-left: 1px solid $newgrey;
    // border-right: 1px solid $newgrey;
    // height: 55px;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 5px;
  }

  .text-legenda {
    padding-left: 5px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border-left: 1px solid $newgrey;
    height: 55px;
    &.right-position-desk {
      position: absolute;
      right: -149px;
      border-left: 1px solid $newgrey;
    }
    &.right-position {
      border-left: 0px;
      border-right: 1px solid $newgrey;
      text-align: right;
      padding-right: 5px;
    }
    &.middle-position {
      position: absolute;
      left: 50%;
    }
  }

}

.position-calc {
  border-radius: 50%;
  border: 3px solid white;
  width: 49px;
  height: 49px;
  position: absolute;
  top: -7px;
  transition: 2s;
  right: -49px;
  transition: opacity .2s;
  opacity: 0;
  &::after {
    content: "VOCÊ \a ESTÁ AQUI";
    font-size: 16px;
    font-weight: bold;
    width: 107px;
    position: absolute;
    bottom: -55px;
    white-space: pre-wrap;
    text-align: center;
    left: -30px;
    line-height: normal;
  }
}
