<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container mt-5 calculator">
      <div class="row">

        <div class="col-lg-10 col-12 mt-5">
          <h2><strong>Onde você está na escala da produção científica?</strong></h2>
          <!-- <label for="final">Final</label>
          <input type='text' class='custo' id='final' name='final' value='0'> -->
          <div class="">
            <label for="primeiro">Em quantas publicações científicas é a primeira autora?</label>
            <input type='text' class='margem ponto' id='primeiro' name='primeiro' value='0'>
          </div>
          <div class="">
            <label for="segundo">Em quantas publicações é segunda autora em diante?</label>
            <input type='text' class='margem ponto' id='segundo' name='segundo' value='0'>
          </div>
          <div class="">
            <label for="terceiro">Quantas premiações recebeu?</label>
            <input type='text' class='margem ponto' id='terceiro' name='terceiro' value='0'>
          </div>
          <div class="">
            <label for="quarto">Quantos eventos, congressos, exposições e feiras organizou?</label>
            <input type='text' class='margem ponto' id='quarto' name='quarto' value='0'>
          </div>
          <div class="">
            <label for="quinto">De quantos eventos, congressos, exposições e feiras participou?</label>
            <input type='text' class='margem ponto' id='quinto' name='quinto' value='0'>
          </div>
          <div class="btn calcular" id="calcular">Calcular</div>
        </div>

        <!-- <div class="col-2">
          <div class="mt-lg-5 mt-3">
            <h5 class="newgrey text-uppercase mb-lg-0">Grande área de pesquisa</h5>
            <h5 class="newgrey mb-lg-3">clique para filtrar por grande área</h5>
            <div class="">
              <label class="c-filter">Ciências biológicas
                <input type="checkbox" v-model="filter.biologicas">
                <span class="checkmark checkmark-green"></span>
              </label>
              <label class="c-filter">Ciências sociais aplicadas
                <input type="checkbox" v-model="filter.sociais">
                <span class="checkmark checkmark-red"></span>
              </label>
              <label class="c-filter">Ciências exatas e da terra
                <input type="checkbox" v-model="filter.exatas">
                <span class="checkmark checkmark-yellow"></span>
              </label>
              <label class="c-filter">Engenharias
                <input type="checkbox" v-model="filter.engenharias">
                <span class="checkmark checkmark-purple"></span>
              </label>
              <label class="c-filter">Ciências da sáude
                <input type="checkbox" v-model="filter.saude">
                <span class="checkmark checkmark-blue"></span>
              </label>
            </div>
          </div>
        </div> -->

        <div class="col-lg-10 col-12 mt-5">
          <div class="slidecontainer">
            <!-- <input type="range" min="1" max="100" value="50" class="slider" id="myRange"> -->
            <div class="slider">
              <div id="calc" class="calc">
                <div id="position" class="position-calc">
                </div>
              </div>
            </div>
          </div>
        </div>




      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script type="text/javascript">

        $(document).ready(function() {
          $("#calcular").click(function(){
            var total = 0;
            var final = 0;
            var primeiro = $("#primeiro").val();
            var segundo = $("#segundo").val();
            var terceiro = $("#terceiro").val();
            var quarto = $("#quarto").val();
            var quinto = $("#quinto").val();


            $('.ponto').each(function(){
              var valor = Number($(this).val());
              if (!isNaN(valor)) total += valor;
            });

            total = ((( primeiro * '5') + ( segundo * '4') + ( terceiro * '2') + ( quarto * '2') + ( quinto * '1')) * '0.023' ) ;
            // final = total  - '3' ;


            $("#final").attr('value', total);

            if( total > '95' ) {
              $("#calc").css('width', '95.5%');
            } else if ( total <= '3' ) {
              final = total;
              $("#calc").css('width', final+'%');
            } else {
              final = total  - '3' ;
              $("#calc").css('width', final+'%');
            }
            console.log(final);
            console.log(primeiro * '5');
            console.log(segundo * '4');
            console.log(terceiro * '2');
            console.log(quarto * '2');
            console.log(quinto * '1');

            $("#position").css('opacity', '1');

          });
        });



    </script>

</body>
</html>
